.work {
  padding-bottom: 94px;
  &__title {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding-bottom: 50px;
    color: $title-color;
  }
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__list-subtitle {
    position: relative;
    padding: 30px 85px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: $white-color;
    background-color: rgba(47, 48, 58, 0.8);
    margin-top: -76px;
  }
}
